<div class='med-block'>
    <h3 class='med-name'>{{brandName}}</h3>
    <p class='med-date'>Added on {{createdAt}}</p>
    
    <button class='info med-btn btn btn-info' data-id={{fdaMedId}}>Information</button>
    <button class='info warn-btn btn btn-warning' data-id={{fdaMedId}}>Warnings</button>
    <button class='info retire-btn btn btn-secondary' value ="{{fdaMedId}},{{isTaking}}">Send to Active</button>
    <button class ='info delete-btn btn btn-danger' data-id={{fdaMedId}}><strong>X</strong></button>
</div>