<div class='med-block'>
    <h4 class='med-name'>{{brandName}}</h4>
    <p class='med-date'>Added on {{createdAt}}</p>
    <div class='row btn-row'>
        <div class='col-md-3'><button class='info med-btn btn btn-primary' data-id={{fdaMedId}}>Information</button></div>
        <div class='col-md-3'><button class='info warn-btn btn btn-primary' data-id={{fdaMedId}}>Warnings</button></div>
        <div class='col-md-3'><button class='info retire-btn btn btn-primary' value ="{{fdaMedId}},{{isTaking}}">Archive</button></div>
        <div class='col-md-3'><button class ='info delete-btn btn btn-danger' data-id={{fdaMedId}}>Delete</button></div>
    </div>
</div>
