<div>
  <p>Brand Name: {{brandName}}</p>
  <p>Medicine ID:{{fdaMedId}}</p>
  <li>{{fdaMedId}}<button class="retire-btn btn btn-success" value="{{fdaMedId}},{{isTaking}}">RETIRE</button></li>
  <br>
</div>
